# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the back-end and front-end directories
back-end/node_modules/
front-end/node_modules/

# Ignore build and compiled files
/build/
/dist/

# Ignore logs and temp files
/log/
/tmp/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local